%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% == Port compiler ==
{port_env, [
             {"CFLAGS",   "$ICU_CFLAGS $CFLAGS $ICU_INC_PATH"},
             {"CXXFLAGS", "$ICU_CXXFLAGS $CXXFLAGS $ICU_INC_PATH"},
             {"LDFLAGS",  "$ICU_LDFLAGS $LDFLAGS"}

            ]}.

{port_specs, [
            {"priv/i18n_nif$I18N_BUILD_ID.so", ["c_src/*.c", "c_src/*.cpp"]}
           ]}.


%% == Dependencies == 

{deps, [
   {triq, ".*", {git, "git://github.com/krestenkrab/triq.git", "master"}},
   {rebar_i18n_plugin, ".*", 
	{git, "git://github.com/erlang-unicode/rebar_i18n_plugin.git", "master"}},
   {edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}
]}.


%% == Options ==

{clean_files, ["priv/i18n_*.so", "c_cov/*.gcov", "c_src/*.gcda", "c_src/*.gcno"]}.
{cover_enabled, true}.

{edoc_opts, [{doclet, edown_doclet},
            {src_path, ["src/"]},
            {subpackages, true}]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.


%% == Plugins ==

%% This allows compile the plugin at the first compile.
{plugin_dir, "deps/rebar_i18n_plugin/src"}.

{plugins, [rebar_i18n_plugin]}.
