%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{port_sources, ["c_src/*.{c,cpp}"]}.

{port_envs, [
             {"CC",       "$CC"},
             {"CXX",      "$CXX"},
             {"CFLAGS",   "$ICU_CFLAGS $CFLAGS"},
             {"CXXFLAGS", "$ICU_CXXFLAGS $CXXFLAGS"},
             {"LDFLAGS",  "$ICU_LDFLAGS $LDFLAGS"}
            ]}.

{so_specs, [
            {"priv/i18n_nif$I18N_BUILD_ID.so", ["c_src/*.o"]}
           ]}.



{clean_files, ["priv/i18n_*.so"]}.
{rebar_plugins, [rebar_i18n_plugin]}.
{cover_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
   {triq, ".*", {git, "git://github.com/krestenkrab/triq.git", "master"}},
   {rebar_i18n_plugin, ".*", 
	{git, "git://github.com/freeakk/rebar_i18n_plugin.git", "master"}},
   {edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}
]}.

{edoc_opts, [{doclet, edown_doclet},
            {src_path, ["src/"]},
            {subpackages, true}]}.

